
header{

  margin-top: 30px;
  padding-right: 50px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 70px;
  border-radius: 22px;
  box-shadow: 3px 3px 5px 0px #00000008;
  border: 1px solid #00000005;
}



h4{
  font-family: Roboto;
  color: #252525;
  font-weight: 500;
}

.hidden{
  display: none;
}
