<section>
  <div class="infoimg">
    <div class="up">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1250/1250758.png?w=740&t=st=1687383840~exp=1687384440~hmac=c94834c050619c3f54e958b55f034fa3f9b526663ee21f8b6c85c02bce9172cf"
        alt="">
    </div>
    <div class="down">
      <h5>Sicurezza</h5>
    </div>
  </div>


  <div class="freccia"></div>

  <div class="infoimg">
    <div class="up">
      <img
        src="https://cdn-icons-png.flaticon.com/512/1160/1160031.png?w=740&t=st=1687384024~exp=1687384624~hmac=d2f32d6b045720957440c6f60959883cd8cffea05950ca4d872bffedff973741"
        alt="">
    </div>
    <div class="down">
      <h5>Velocità</h5>
    </div>
  </div>


  <div class="freccia"></div>

  <div class="infoimg">
    <div class="up">
      <img
        src="https://cdn-icons-png.flaticon.com/512/948/948107.png?w=740&t=st=1687384089~exp=1687384689~hmac=b0ab21dbcd29c7d3393a56246e6622ed3352e02b26b01c0558e585f10409db51"
        alt="">
    </div>
    <div class="down">
      <h5>Perfezzione</h5>
    </div>
  </div>

</section>