.box{
  width: 300px;
  height: 300px;
  /* background-color: #ffd79c; */
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.055);
  box-shadow: 9px 9px 8px -3px #0000000f;
}

a{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
}


img{
  width: 90%;
  height: 70%;
}
