<div class="container">

  <div class="box mb-3">
    <div class="sx"></div>
    <div class="dx">
      <img
        src="https://img.freepik.com/free-photo/modern-stationary-collection-arrangement_23-2149309649.jpg?w=996&t=st=1686952397~exp=1686952997~hmac=aba6cee4deb332c502f0f7902e52c73623cfb2f4895303b01f85c71270b72cf4"
        alt="">
    </div>
  </div>

  <div class="box mb-3">
    <div class="sx"></div>
    <div class="dx">
      <img
        src="https://img.freepik.com/free-photo/master-making-jewelry-from-metallic-thread_114579-13033.jpg?w=996&t=st=1686953131~exp=1686953731~hmac=9ea51850b58d4df54cbbd490e7013a5d64be55be305b60d2a85f248ea7f653cc"
        alt="">
    </div>
  </div>

  <div class="box">
    <div class="sx"></div>
    <div class="dx">
      <img
        src="https://img.freepik.com/free-photo/male-belt-sweater-accessories-clothes_1203-6421.jpg?w=740&t=st=1686953171~exp=1686953771~hmac=d2162e3b936e7a2449cb341571573f80f1eb521aed6e3634a7b8cab8a30b5f76"
        alt="">
    </div>
  </div>

  <div class="box">
    <div class="sx"></div>
    <div class="dx">
      <img
        src="https://img.freepik.com/free-photo/set-with-fashionable-women-s-clothing-jeans-sweater_169016-3214.jpg?w=996&t=st=1686953197~exp=1686953797~hmac=61fc8ba43d744dcdfd712daf9278d4a9878078bbe5dbbfd34ce29bc69a74e980"
        alt="">
    </div>
  </div>
</div>