

.container{
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  margin-top: 40px;


}

.box{
  width: 45%;
  height: 200px;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgba(0, 0, 0, 0.021);

  /* margin-top: 50px; */
  display: flex;



  -webkit-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-shadow: 12px 12px 35px #8c8c8c, -12px -12px 35px #ffffff;
  box-shadow: 12px 12px 35px #8c8c8c, -12px -12px 35px #ffffff;
}

.mb-3{
  margin-bottom: 30px;
}

/* -------------------BOX-------------------DIVISIONE */

.sx{
  width: 65%;
  height: 100%;
  background-color: hsl(0, 0%, 97%);
  border-radius: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sx a{
  color: rgb(0, 66, 41);
  text-decoration: none;
  text-align: center;
  font-family: Roboto;
  font-size: 1.2rem;

}


.dx{
  width: 35%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;

}

.dx img{
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
}
