.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  row-gap: 100px;
}

#popo{
  text-align: center;
  margin-bottom: 20px;
  font-family: roboto;
  color: #252525da;
}
